{% extends "base.html" %}
{% block title %} 权限申请 {% endblock %}
{% block css %}
{% load staticfiles %}
<link href="//mugifly.github.io/jquery-simple-datetimepicker/jquery.simple-dtpicker.css" rel="stylesheet" />
<style>
  .register .row {
    padding-top: 10px;
  }
  .has_permission {
    padding-top: 10px;
    margin-top: -20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
  }
  h4 {
    font-family: "AR PL UKai CN", "KaiTi", "STKaiti", monospace;
    font-weight: bold;
  }
  .has_permission p {
    text-indent: 2em;
  }
</style>
{% endblock %}
{% block content %}
<div class="container-fuild has_permission">
<h4 class="row text-center text-danger">
** 推荐使用Chrome，Firefox，Chromium等浏览器，如果您使用360浏览器，请切换到极速模式（默认为兼容模式）。如果你安装了360浏览器，IE也会有问题。
</h4>
  <div class="container">
    <div class="row">
      <h4>门禁状态</h3>
      <p>{% if has_permission_entrance %}
        {% for entrance in has_permission_entrance %}
          {% if forloop.last %}
            “{{ entrance.name }}”
          {% else %}
            “{{ entrance.name }}”,
          {% endif %}
        {% endfor %}
        权限已经开通。</p>
      {% else %}
        <p>您还不能进出核磁实验中心！如果需要申请开通门禁权限，请填写以下表格提交申请！</p>
      {% endif %}
    </div>
    <div class="row">
      <h4>仪器自助上机权限状态</h3>
      <p>{% if has_permission_instrument %}
        {% for instrument in has_permission_instrument %}
          {% if forloop.last %}
            “{{ instrument.name }}”
          {% else %}
            “{{ instrument.name }}”,
          {% endif %}
        {% endfor %}
        自助上机权限已经开通, 请自觉遵守实验室规则，安全实验！</p>
      {% else %}
        <p>您还不能操作任何实验室仪器，如果需要请填写以下仪器申请表格并提交！</p>
      {% endif %}

    </div>
    <div class="row">
      <h4>申请情况</h3>
      <p>您已经提交的未处理申请:</p>
      <div class="table-responsive">
      <table class="table">
        <tbody>
        {% for appoint in has_appointed_entrance %}
          <tr class="{% if appoint.has_approved == None %}active{% elif appoint.has_approved %}success{%else%}danger{%endif%}">
            <td><span class="label label-primary">A{{ forloop.counter }}<span></td>
            <td>{{ appoint }}</td>
            <td>
              {% if appoint.has_approved == None %}
                未处理，请等待！
              {% elif appoint.has_approved %}
                已经通过！<span>{{appoint.feedback}}</span>
              {% else %}
                未通过！<span style="color:red">{{appoint.feedback}}</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        {% for appoint in has_appointed_instrument %}
          <tr class="{% if appoint.has_approved == None %}active{% elif appoint.has_approved %}success{%else%}danger{%endif%}">
            <td><span class="label label-danger">B{{ forloop.counter }}<span></td>
            <td>{{ appoint }}</td>
            <td>
              {% if appoint.has_approved == None %}
                未处理，请等待！
              {% elif appoint.has_approved %}
                已经通过！<span>{{appoint.feedback}}</span>
              {% else %}
                未通过！<span style="color:red">{{appoint.feedback}}</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div><!--responsive-->
    </div>
  </div>
</div>
<div class="container register">

  <div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div style="margin-bottom: 10px;" class="text-center">
        <h3><strong>门禁权限申请</strong></h3>
      </div>
    </div>

    <form action="{% url 'accounts:apermission' 'eguard' %}" method="post">
    {% csrf_token %}
      <div class="row">
        <div class="form-group">
          <div class="col-sm-4">
            <label class="input-lg">门禁：</label>
          </div>
          <div class="col-sm-8">
            {% for door in doors %}
                <div><input type="checkbox" name="entrance" id="id_entrance" value="{{ door.id }}">{{ door.name }}</input></div>
            {% endfor %}
            <p style="font-size:12px;color:red;" class="helptext">进出核磁中心请同时申请“值班室大门”，“值班室里门”；而其他申请请根据需求来。</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="eform-group">
          <div class="col-sm-4">
            <label class="input-lg">申请理由：</label>
          </div>
          <div class="col-sm-8">
            <textarea class="form-control input-lg" name="reason" id="id_reason" rows=6></textarea>
            <span style="font-size:12px;" class="helptext">请给出申请理由，不然可能会导致申请不通过！</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="eform-group">
          <div class="col-sm-4">
            <label class="input-lg">截止日期：</label>
          </div>
          <div class="col-sm-8">
               <input class="form-control input-lg" id="id_expired_time" name="expired_time" type="text" value="2116-07-01" required />
               <span style="font-size:12px;" class="helptext"></span>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-sm-offset-4 col-sm-8">
          <button class="btn btn-primary btn-lg btn-block" onclick="this.form.submit();this.disabled=true" value="submit">== 提交门禁申请 ==</button>
        </div>
        <div class="text-center col-sm-12">提醒：任务提交成功会生成等待审核项目，请注意查看管理员回复!</div>
     </div>
    </form>
    </div>

  <div class="col-sm-6">
    <div class="row">
      <div style="margin-bottom: 10px;" class="text-center">
        <h3><strong>仪器培训申请</strong></h3>
      </div>
    </div>

    <form action="{% url 'accounts:apermission' 'instr' %}" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="form-group">
          <div class="col-sm-4">
            <label class="input-lg">仪器：</label>
          </div>
          <div class="col-sm-8">
            {% for instr in instruments %}
                <div><input type="checkbox" name="instrument" id="id_instrument" value="{{ instr.id }}">{{instr.name}}</input></div>
            {% endfor %}
               <span style="font-size:12px;color:red;" class="helptext"></span>
          </div>
        </div>
      </div>
    <div class="row">
        <div class="form-group">
          <div class="col-sm-4">
            <label class="input-lg">预定时间：</label>
          </div>
          <div class="col-sm-8">
               <input class="form-control input-lg" id="id_target_datetime" name="target_datetime" type="text" required />
          </div>
        </div>
      </div>
    <div class="row">
        <div class="form-group">
          <div class="col-sm-4">
            <label class="input-lg">用时/小时：</label>
          </div>
          <div class="col-sm-8">
            <input class="form-control input-lg" id="id_times" name="times" type="number" min="0" step="0.5" value="0.5" required />
            <span style="font-size:12px;color:red;" class="helptext">预估培训使用时间,如果不需要培训把这个数值设置为0。</span>
          </div>
        </div>
      </div>
    <div class="row" >
        <div class="col-sm-offset-4 col-sm-8">
          <span style="font-size:12px;color:red">仪器自主上机权限开通以后默认开通门禁权限，请不用另外申请门禁！除非你知道自己在做什么。</span>
        </div>
    </div>

    <div class="row" >
      <div class="col-sm-offset-4 col-sm-8">
        <button class="btn btn-primary btn-lg btn-block" onclick="this.form.submit();this.disabled=true" value="submit">== 提交培训申请 ==</button>
      </div>
        <div class="text-center col-sm-12">提醒：任务提交成功会生成等待审核项目，请注意查看管理员回复!</div>
   </div>
  </div>

  </form>
  </div>

</div>
{% endblock %}
{% block js %}
<script src="//mugifly.github.io/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>
<script>
  $("#id_target_datetime").appendDtpicker({'futureOnly': true});
  $("#id_expired_time").appendDtpicker({'dateOnly':true, 'futureOnly': true});
  $("#id_expired_time").attr('readonly', 'readonly');
  $("#id_target_datetime").attr('readonly', 'readonly');
  {% for entrance in has_permission_entrance %}
    $("input#id_entrance[value='{{entrance.id}}']").attr("disabled", true);
  {% endfor %}
  {% for instrument in has_permission_instrument %}
    $("input#id_instrument[value='{{instrument.id}}']").attr("disabled", true);
  {% endfor %}

</script>

{% endblock %}

