{% extends "base.html" %}
{% block title %} 用户登入 {% endblock %}
{% block css %}
<style>
  .login {
    margin-top: 100px;
    margin-bottom: 140px;
  }
</style>
{% endblock %}
{% block content %}
<div class="container login">
  <div class="row">
    <div style="border-bottom:1px solid #eee; margin-bottom: 10px;" class="col-sm-offset-2 col-sm-5 text-center">
      <h3><strong>用户登录</strong></h3>
    </div>
  </div>
    {% if errors %}
        <div class="row">
          <div class="col-sm-offset-4 col-sm-5" style="font-size:16px;color:red;">
            <p>Error: {{ errors }}</p>
          </div>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-sm-offset-4 col-sm-5">
        <p>You are logged in as: {{ user.username }}. <a href="{% url 'accounts:logout' %}">Logout</a>
        </div>
    </div>
    {% endif %}

  <form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <div class="row">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-2">
	          <label class="input-lg">用户名: </label>
          </div>
          <div class="col-sm-3">
          <input name="username" type="text" placeholder="enter username" />
          </div>
          <div class="col-sm-5">
              <span class="text-danger" style="font-size:12px">
              <p>如果您的校园卡能够打开核磁中心外门，您就已经拥有账号！</p>
              <p>账号为您的教工号/学号，密码为教工号/学号后四位！</p>
              <p style="color:red">如果您还没有激活用户，请<a type="button" data-toggle="modal" data-target="#activeModal">激活</a>才能登入！</p>
              </span>
          </div>
        </div>
    </div>
  <div class="row">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-2">
	          <label class="input-lg">密码:</label>
          </div>
          <div class="col-sm-3">
          <input name="password" type="password" placeholder="enter password" />
          </div>
        </div>
    </div>

  <div class="row" style='padding-top: 20px'>
    <div class="col-sm-offset-2 col-sm-2 text-right">
       <p>新用户，请<a href="/accounts/register/">注册</a>!</p>
       <p><a href="{% url 'password_reset:password_reset_recover' %}">忘记密码?</a></p>
    </div>
  <div class=" col-sm-3">
    <button class="btn btn-primary btn-lg btn-block" type="submit" value="login">登入</button>
    <input type="hidden" name="next" value="/"/>
  </div>
  </div>
  </form>
</div>

<!-- Modal -->
<form method="post" action="{% url 'accounts:activeUser' %}">
<div class="modal fade" id="activeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">激活您的账号</h2>
      </div>
      <div class="modal-body">
           {% csrf_token %}
              <div class="row">
                <div class="form-group">
                  <div class="col-sm-offset-1 col-sm-3">
                    <label class="input-lg">用户名:</label>
                  </div>
                  <div class="col-sm-6">
                  <input type="text" id="id_username" name="username" maxlength="30" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <div class="col-sm-offset-1 col-sm-3">
                    <label class="input-lg">姓名:</label>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" id="id_surname" name="surname" maxlength="30" />
                    <span style="font-size:10px" class="helptext">请填写真实姓名！</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <div class="col-sm-offset-1 col-sm-3">
                    <label class="input-lg">电话号码:</label>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" id="id_phone_number" name="phone_number" maxlength="18" placehold="0592000000"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-sm-offset-1 col-sm-3">
                    <label class="input-lg">邮箱:</label>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" id="id_email" name="email" maxlength="255" placehold="email"/>
                  </div>
                </div>
              </div>
          <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
            <p class="input-lg text-danger">激活登录以后，请更改自己的个人资料,课题组信息！</p>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>
<script>
  $("input").toggleClass('form-control input-lg');
  $("input#id_username").focus();
</script>
{% endblock %}
