{% extends "bootstrap_base.html" %}
{% block title %} 用户登入 {% endblock %}
{% block css_js %}
<style>
  .login {
    margin-top: 100px;
    margin-bottom: 140px;
  }
</style>
{% endblock %}
{% block content %}
<div class="container login">
  <div class="row">
    <div style="border-bottom:1px solid #eee; margin-bottom: 10px;" class="col-sm-offset-2 col-sm-5 text-center">
      <h3><strong>用户登录</strong></h3>
    </div>
  </div>

  <form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <div class="row">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-2">
	          <label class="input-lg">{{ form.username.label_tag }}</label>
          </div>
          <div class="col-sm-3">
	          {{ form.username }}
          </div>
          {% if form.errors %}
            <div class="col-sm-5 text-danger">
              {{ form.username.errors }}
            </div>
          {% endif %}
        </div>
    </div>
  <div class="row">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-2">
	          <label class="input-lg">密码:</label>
          </div>
          <div class="col-sm-3">
	          {{ form.password}}
          </div>
          {% if form.errors %}
            <div class="col-sm-5 text-danger">
              {{ form.password.errors }}
            </div>
          {% endif %}
        </div>
    </div>

  <div class="row" style='padding-top: 20px'>
    <div class="col-sm-offset-2 col-sm-5">

      <div class="col-sm-offset-2 col-sm-4">
       <p>新用户，请<a href="/accounts/register/">注册</a>!</p>
       <p><a href="">忘记密码?</a></p>
      </div>
      <div class=" col-sm-6 text-right">
        <button class="btn btn-primary btn-lg" type="submit" value="login">登入</button>
        <input type="hidden" name="next" value="/"/>
      </div>

    </div>
  </div>
  </form>
</div>
<script>
  $("input").toggleClass('form-control input-lg');
</script>

{% endblock %}
