{% extends "bootstrap_base.html" %}
{% block title %} 密码修改 {% endblock %}
{% block css_js %}
<style>
  .password_changed_done {
    margin-top: 100px;
    margin-bottom: 140px;
  }
</style>
{% endblock %}
{% block content %}
<div class="container password_changed_done">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-5 text-center">
      <h3><strong>密码修改成功!</strong></h3>
      <p><strong>返回<a href="{% url 'accounts:profile' %}">个人中心</a>!</strong></p>
    </div>
  </div>
</div>

{% endblock %}
