{% extends "bootstrap_base.html" %}
{% block title %} 密码修改 {% endblock %}
{% block content %}
{% block css_js %}
<style>
  .password_change {
    margin-top: 100px;
    margin-bottom: 140px;
  }
</style>
{% endblock %}

<div class="container password_change">
  <div class="row">
    <div style="border-bottom:1px solid #eee; margin-bottom: 10px;" class="col-sm-offset-2 col-sm-5 text-center">
      <h3><strong>密码修改</strong></h3>
    </div>
  </div>


  <form method="post" action="{% url 'accounts:password_change' %}">
  {% csrf_token %}
  <div class="row">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <label class="input-lg">原密码:</label>
      </div>
      <div class="col-sm-3">
          {{ form.old_password }}
      </div>
      {% if form.errors %}
        <div class="col-sm-5 text-danger">
          {{ form.old_password.errors }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <label class="input-lg">新密码:</label>
      </div>
      <div class="col-sm-3">
          {{ form.new_password1 }}
      </div>
      {% if form.errors %}
        <div class="col-sm-5 text-danger">
          {{ form.new_password1.errors }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <label class="input-lg">密码确认:</label>
      </div>
      <div class="col-sm-3">
          {{ form.new_password2 }}
      </div>
      {% if form.errors %}
        <div class="col-sm-5 text-danger">
          {{ form.new_password2.errors }}
        </div>
      {% endif %}
    </div>
  </div>


  <div class="row" style="padding-top:20px">
    <div class="col-sm-offset-2 col-sm-5 text-right">
      <button class="btn btn-primary" type="submit" value="Change Password">密码修改</button>
    </div>
  </div>
</form>
</div>
<script>
  $("input").toggleClass('form-control input-lg');
</script>


{% endblock %}
