{% if samples %}
<h3>送样申请情况：</h3>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>申请者</th>
      <th>仪器</th>
      <th>开始时间</th>
      <th>使用时间/小时</th>
      <th>详情</th>
    </tr>
  </thead>
  <tbody>
  {% for sample in samples %}
    <tr>
      <td><span class="label label-primary">A{{ forloop.counter }}<span></td>
      <td><a data-toggle="tooltip" data-placement="top" title="{{sample.user.username}}-{{sample.user.identify}}-{{sample.user.phone_number}}-{{sample.user.email}}">{{sample.user.surname}}</a>[<a data-toggle="tooltip" data-placement="top" title="{{sample.user.person_in_charge.phone_number0}}-{{sample.user.person_in_charge.email0}}-{{sample.user.person_in_charge.orgnization}}">{{sample.user.person_in_charge}}</a>]</td>
      <td>{{sample.instrument.short_name}}</td>
      <td>{{sample.start_time}}</td>
      <td>{{sample.times}}</td>
      <td><button type="button" class="btn {% if sample.has_approved == None %}btn-primary{% elif sample.has_approved %}btn-success{%else%}btn-danger{%endif%}" data-toggle="modal" data-target="#Modal{{forloop.counter}}" >More...</button></td>

<div class="modal fade" id="Modal{{forloop.counter}}" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-center">送样详情</h2>
      </div>
{% if sample.has_approved == None %}
      <form action="{% url 'schedule:dealSampleAppoint' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="modal-body">
          <p>{{ sample.user.surname }}[{{sample.user.person_in_charge}}]申请在{{sample.start_time}}{{sample.instrument}}使用<strong>{{sample.times}}</strong>小时。具体需要测试:</p>
          <p>测量类型：{{sample.measure_type|default_if_none:'无提供'}}</p>
          {% if sample.sample %}
            <p>样品名称为{{sample.sample.name|default_if_none:'无样品名称'}},
            浓度为{{sample.sample.concentration|default_if_none:'无提供浓度'}}mM,
            溶剂为{{sample.sample.solvent|default_if_none:'无提供'}},
            分子量为{{sample.sample.molecular_weight|default_if_none:'无提供'}},
            其他说明{{sample.sample.others}}.{%else%}没有样品说明</p>
          {%endif%}
            <input id="sample" name="sample" value={{sample.id}} hidden>
            <div class="from-group row">
              <label for="inputStartTime" class="col-sm-4 input-lg">开始时间:</label>
              <div class="col-sm-8">
                <input class="form-control" id="id_start_time_s{{sample.id}}" name="start_time" data-default-date='{{sample.start_time|date:"Y-m-d H:i"}}'>
              </div>
            </div>

            <div class="from-group row">
              <label class="col-sm-4 input-lg">用时/小时:</label>
              <div class="col-sm-8">
                <input class="form-control" id="times" name="times" value={{sample.times}}>
              </div>
            </div>
            <div class="from-group row">
              <label class="col-sm-4 input-lg">回馈:</label>
              <div class="col-sm-8">
                <textarea class="form-control" id="feedback" name="feedback" rows="2">通过</textarea>
              </div>
            </div>
            <div class="from-group row">
              <label class="col-sm-4 input-lg">Yes/On:</label>
              <div class="switch col-sm-8" data-on="success" data-off="danger">
                  <input type="checkbox" id="check" name="check" value="check" checked />
              </div>
            </div>
        </div>
        <script>
            $("#id_start_time_s{{sample.id}}").flatpickr({
                "enableTime": true,
                "mode": "single",
                "time_24hr": true,
            });
        </script>
{%else%}
        <div class="modal-body">
          <p>{{ sample.user.surname }}[{{sample.user.person_in_charge}}]申请在{{sample.start_time}}{{sample.instrument}}使用<strong>{{sample.times}}</strong>小时。具体需要测试:</p>
          <p>测量类型：{{sample.measure_type|default_if_none:'无提供'}}</p>
          {% if sample.sample %}
            <p>样品名称为{{sample.sample.name|default_if_none:'无样品名称'}},
            浓度为{{sample.sample.concentration|default_if_none:'无提供浓度'}}mM,
            溶剂为{{sample.sample.solvent|default_if_none:'无提供'}},
            分子量为{{sample.sample.molecular_weight|default_if_none:'无提供'}},
            其他说明{{sample.sample.others}}.{%else%}没有样品说明</p>
          {%endif%}
        </div>
{%endif%}
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    </tr>
  {% endfor %}
  </tbody>
</table>
</div><!--responsive-->
{% endif %}

{% if trains%}
<h3>仪器培训申请情况：</h3>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>申请者</th>
      <th>仪器</th>
      <th>培训时间</th>
      <th>培训用时/小时</th>
      <th>赞同？</th>
    </tr>
  </thead>
  <tbody>
  {% for train in trains %}
    <tr>
      <td><span class="label label-danger">B{{ forloop.counter }}<span></td>
      <td><a data-toggle="tooltip" data-placement="top" title="{{train.user.username}}-{{train.user.identify}}-{{train.user.phone_number}}-{{train.user.email}}">{{train.user.surname}}</a>[<a data-toggle="tooltip" data-placement="top" title="{{train.user.person_in_charge.phone_number0}}-{{train.user.person_in_charge.email0}}-{{train.user.person_in_charge.orgnization}}">{{train.user.person_in_charge}}</a>]</td>
      <td>{% for inst in train.instrument.all %}{{inst.short_name}}{% if forloop.last %}{%else%},{%endif%}{%endfor%}</td>
      <td>{{ train.target_datetime }}</td>
      <td>{{ train.times }}</td>
      <td><button type="button" class="btn {% if train.has_approved == None %}btn-primary{% elif train.has_approved %}btn-success{%else%}btn-danger{%endif%}" data-toggle="modal" data-target="#myModal{{forloop.counter}}" data-toggle="modal" data-target="#myModal{{forloop.counter}}" >Yes/No</button></td>
    </tr>
{% if train.has_approved == None %}
<div class="modal fade" id="myModal{{forloop.counter}}" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">仪器培训申请</h2>
      </div>
      <div class="modal-body">
      <form action="{% url 'schedule:dealInstrumentAppoint' %}" method="post">
      {% csrf_token %}
        <p>{{ train.user.surname }} 申请{% for inst in train.instrument.all %}{{inst.short_name}}{% if forloop.last %}{%else%},{%endif%}{%endfor%}培训，用户预计在{{ train.target_datetime }}进行培训！
        是否给予支持？</p>
        <input id="train" name="train" value={{train.id}} hidden>
        <div class="from-group row">
          <label for="inputStartTime" class="col-sm-4 input-lg">开始时间:</label>
          <div class="col-sm-8">
            <input class="form-control" id="id_start_time_t{{train.id}}" name="start_time" data-default-date='{{train.target_datetime|date:"Y-m-d H:i"}}'>
          </div>
        </div>

        <div class="from-group row">
          <label class="col-sm-4 input-lg">用时/小时:</label>
          <div class="col-sm-8">
            <input class="form-control" id="times" name="times" value={{train.times}}>
          </div>
        </div>
        <div class="from-group row">
          <label class="col-sm-4 input-lg">回馈:</label>
          <div class="col-sm-8">
            <textarea class="form-control" id="feedback" name="feedback" rows="2">通过</textarea>
          </div>
        </div>
        <div class="from-group row">
          <label class="col-sm-4 input-lg">Yes/On:</label>
          <div class="switch col-sm-8" data-on="success" data-off="danger">
              <input type="checkbox" id="check" name="check" checked />
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $("#id_start_time_t{{sample.id}}").flatpickr({
        "enableTime": true,
        "mode": "single",
        "time_24hr": true,
    });
</script>

{% endif %}
  {% endfor %}
  </tbody>
</table>
</div><!--responsive-->
{% endif %}<!--train-->

{% if entrances %}
<h3>门禁申请情况：</h3>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>申请者</th>
      <th>门禁</th>
      <th>赞同？</th>
    </tr>
  </thead>
  <tbody>
  {% for entrance in entrances %}
    <tr>
      <td><span class="label label-success">C{{ forloop.counter }}<span></td>
      <td><a data-toggle="tooltip" data-placement="top" title="{{entrance.user.username}}-{{entrance.user.identify}}-{{entrance.user.phone_number}}-{{entrance.user.email}}">{{entrance.user.surname}}</a>[<a data-toggle="tooltip" data-placement="top" title="{{entrance.user.person_in_charge.phone_number0}}-{{entrance.user.person_in_charge.email0}}-{{entrance.user.person_in_charge.orgnization}}">{{entrance.user.person_in_charge}}</a>]</td>
      <td>{% for inst in entrance.entrance.all %}{{inst}}{% if forloop.last %}{%else%},{%endif%}{%endfor%}</td>
      <td><button type="button" class="btn {% if entrance.has_approved == None %}btn-primary{% elif entrance.has_approved %}btn-success{%else%}btn-danger{%endif%}" data-toggle="modal" data-target="#eModal{{forloop.counter}}" >Yes/No</button></td>
    </tr>


{% if entrance.has_approved == None %}
<div class="modal fade" id="eModal{{forloop.counter}}" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">门禁申请</h2>
      </div>
      <form action="{% url 'eguard:dealAppoint' %}" method="post">
      {% csrf_token %}
        <div class="modal-body">
          <p>{{ entrance.user.surname }} 申请{% for inst in entrance.entrance.all %}{{inst}}{% if forloop.last %}{%else%},{%endif%}{%endfor%}门禁！
          是否给予支持？</p>

            <input id="entrance" name="entrance" value={{entrance.id}} hidden>
            <textarea class="form-control" id="feedback" name="feedback" rows="2">通过</textarea>
            <div class="switch" data-on="success" data-off="danger">
                <input type="checkbox" id="check" name="check" checked />
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
  {% endfor %}
  </tbody>
</table>
</div><!--responsive-->
{% endif %}
