{% extends "base.html" %}
{% block title %} 个人中心 {% endblock %}
{% block css %}
    <link rel="stylesheet" href="//cdn.bootcss.com/flatpickr/2.0.5/flatpickr.airbnb.min.css">
    <script type="text/javascript" src="//cdn.bootcss.com/flatpickr/2.0.5/flatpickr.js"></script>
{% endblock %}
{% load staticfiles %}
{% load func_extras %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-2" style="padding-top:16px">
      <p><img class="img-rounded" src="{{ user.profile_image.url }}" alt="{{ user.surname }}的照片" style="max-width:120px" /></p>
      <p> {{ user.surname }}[{{ user.username }}] {{user.get_position_name}}</p>
      {% if user.position == 'visit' %}
        <p>编号：{{ user.identify }}</p>
        <p>领导：{{ user.person_in_charge.surname0 }} </p>
      {% elif user.position == 'student' %}
        <p>学号：{{ user.identify }}</p>
        <p>课题组：{{ user.person_in_charge.surname0 }}</p>
      {% else %}
        <p>教工号：{{ user.identify }}</p>
        <p>课题组：{{ user.person_in_charge.surname0 }}</p>
      {% endif %}
      <p><a href="{% url 'accounts:password_change' %}">更改密码</a></p>
      <p><a href="{% url 'accounts:userinfo' %}">个人资料</a>
        {% if user.person_in_charge.surname0 == '默认[找不到]' %}
          <small style="color:red; font-size:8px;">请更改个人信息!</small>
        {% endif %}
      </p>
      <p><a href="{% url 'accounts:apermission' %}">权限申请[门禁/仪器]</a></p>
      <p><a href="{% url 'homepages:appoint' %}">仪器预约</a> /
        <a href="{% url 'schedule:sample' %}">送样测试</a></p>
    </div>
    <div class="col-sm-10">
    {% if experiments %}
        <h3>已经安排上还没有结束的实验，请注意按时送样或者上机实验!</h3>
        <div class="table-responsive">
            <table class="table">
                {% for exp in experiments %}
                    <tr class="">
                        <td><span class="label label-info">E{{forloop.counter}}</span></td>
                        <td>{{ exp }}</td>
                        {% if exp.hasInstrumentLicense or user.is_superuser %}
                            <td><a class="btn btn-success" {% if exp.stop_time|isAfterNow and user.is_superuser or exp.start_time|isMoreThan12Hours%} href="/schedule/delExp/{{exp.id}}/"{%else%} disabled {% endif %}>删除实验</a></td>
                            <td>{% if exp.start_time|isAfterNow or exp.stop_time|isAfterNow:0.5 and exp.times > 1%}{% include 'accounts/exprimentModal.html' %}{%else%}<button class="btn btn-success" disabled>更新申请</button>{%endif%}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                        <td>
                            {% if exp.start_time|isAfterNow %}
                                还没有开始
                            {% elif exp.stop_time|isAfterNow %}
                                正在进行
                            {% else %}
                                已经结束
                            {% endif %}
                         </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="text-danger">
        提示： 
        <ol>
           <li> 送样测试并管理员已经通过申请的实验用户没有权限删除和更改实验；原则上请按时送样，如有必要请联系管理员修改！</li>
            <li>具有仪器操作权限的用户在实验开始前12个小时仍可删除实验或者更改实验；或则如果实验s申请总时长超过一个小时并且目前离实验申请结束还有半个小时以上，即使实验开始仍可更改实验结束时间。这个功能主要用于长时间实验提早结束，您需要更新您结束实验！</li>
        </ol>
        </div>

    {% endif %}

    {% if samples %}<h3>送样申请处理状态：</h3>{% endif %}
    <div class="table-responsive">
      <table class="table">
        <tbody>
        {% for appoint in samples %}
          <tr class="{% if appoint.has_approved == None %}active{% elif appoint.has_approved %}success{%else%}danger{%endif%}">
            <td><span class="label label-info">O{{ forloop.counter }}</span></td>
            <td>{{ appoint }}</td>
            <td>
                  {% if appoint.has_approved == None %}
                    {% if appoint.start_time|isAfterNow %}
                        未处理，请等待！
                        <a class="btn btn-success" href="/schedule/delSample/{{appoint.id}}/">删除申请</a>
                        {% include 'accounts/sampleModal.html' %}
                    {% else %}
                        作废，请重新申请！
                    {% endif %}
                  {% elif appoint.has_approved %}
                    已经通过！<span>{{appoint.feedback}}</span>
                    {% if user.is_superuser %}
                    {% endif %}

                  {% else %}
                    未通过！<span style="color:red">{{appoint.feedback}}</span>
                  {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
      {% if user.is_superuser %}
        {% include 'accounts/profile_superuser.html' %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
