{% extends "base.html" %}
{% block css_js %}
{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.js' %}"></script>
<link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet" />
<script src="{% static 'js/jquery.simple-dtpicker.js' %}"></script>
<script src="{% static 'js/jquery.lightbox_me.js' %}"></script>
<link href="{% static 'css/jquery.simple-dtpicker.css' %}" rel="stylesheet" />
<script type="text/javascript">
	$(document).ready(function() {
		$('#calendar').fullCalendar({
		    header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month, customWeek, basicWeek'
			    },
		    defaultDate: '{{ today }}',
		    selectable: true,
		    selectHelper: true,
		    select: function(start, end) {
		      var start0 = $.fullCalendar.moment(start).format("YYYY-MM-DD HH:mm");
		      var end0 = $.fullCalendar.moment(end).format("YYYY-MM-DD HH:mm");
		      var now = $.fullCalendar.moment()
		      if ( $.fullCalendar.moment(start).isBefore(now))
			return;

		      $('#create_exp').lightbox_me({
			centered: true,
			preventScroll:true,
			//overlayCSS: {background: '#ff0', opacity: .6},
			onLoad: function() {
			  $('.create_exp').find('input:first').focus()
			  },
			});
			$('#id_appoint_start_time, #id_appoint_stop_time').appendDtpicker( {
			  "futureOnly": true,
			  "minuteInterval": 15,
			  "timeFormat": false,
			  "closeOnSelected": true,
			  });
			$('#id_appoint_start_time').val( start0 );
			$('#id_appoint_stop_time').val( end0 );
			$('#id_appoint_start_time').attr( "readonly", true);
			$('#id_appoint_stop_time').attr( "readonly", true);
		    },
		    eventLimit: true, // allow "more" link when too many events
		    events: { url: "{% url 'schedule:getEvent' instrument %}", },
		    selectOverlap: false,
		    timeFormat: 'H:mm',
		    displayEventEnd: true,
		    views: {
			  customWeek: { 
			  type: 'agenda',
			  buttonText: 'WEEK',
			  duration: { week:  1, },
			  slotDuration: '00:15:00',
			  }
		    },
		});
	});
</script>
<style>
	body {
		padding: 0;
	}

	#calendar {
		max-width: 900;
		margin: 0 auto;
		font-size: 14px;
	}
 #create_exp {
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 400px;
        position: relative;
        display: none;
    }
    #create_exp #create_exp_form {
        margin-top: 13px;
    }
    #create_exp label {
        display: block;
        margin-bottom: 10px; 
        color: #536376;
        font-size: .9em;
    }
  
    #create_exp label input {
        display: block;
        width: 393px;
        height: 31px;
        background-position: -201px 0;
        padding: 2px 8px;
        font-size: 1.2em;
        line-height: 31px;
    }
    
    #see_id {
        width: 228px;
        height: 23px;
        background-position: -202px -133px;
    }
    #left_out {
        background-position: -202px -158px;
        width: 113px; height: 16px;
    }
    #create_exp_form {
        position: relative;
        background: url(divider.png) repeat-x bottom left;
        padding-bottom: 54px;
        margin-bottom: 12px;
    }
    #actions {
        float: left;
        position: absolute;
        right: 0;
        height: 31px;
        bottom: 20px;
    }
</style>
{% endblock %}
{% block content %}

<div id='calendar'></div>

{% if user.is_authenticated %}
<div id="create_exp" class="sprited">
  <h3 id="see_id">Create An Experment</h3>

  {% if form.errors %}
    <p>Your input has some errors</p>
  {% endif %}

<div id="create_exp_form">
  <form action="{% url 'schedule:create_experiment' %}" method="post">
  {% csrf_token %}
      {{ form.non_field_errors }}
      <table>
      <tr>
	<td>{{ form.exp_name.label_tag }}</td>
      </tr>
      <tr>
	<td>{{ form.exp_name }}</td>
      </tr>
      <tr>
	<td>{{ form.instrument.label_tag }}</td>
      </tr>
      <tr>
	<td>{{ form.instrument}}</td>
      </tr>
      <tr>
	<td>{{ form.appoint_start_time.label_tag }}</td>
      </tr>
      <tr>
	<td>{{ form.appoint_start_time }}</td>
      </tr>
      <tr>
	<td>{{ form.appoint_stop_time.label_tag }}</td>
      <tr>
      </tr>
	<td>{{ form.appoint_stop_time}}</td>
      </tr>
      <tr>
	<td>{{ form.exp_intro.label_tag }}</td>
      </tr>
      <tr>
	<td>{{ form.exp_intro}}</td>
      </tr>
      </table>
      <div id="action">
	<input type="submit" value="Created">
      </div>
  </form>
</div>
</div>
{% endif %}
{% endblock %}
