{% extends "base.html" %}
{% block title %} 仪器预约 {% endblock %}
{% block css_js %}
{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.js' %}"></script>
<link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet" />
<script src="{% static 'js/jquery.simple-dtpicker.js' %}"></script>
<link href="{% static 'css/jquery.simple-dtpicker.css' %}" rel="stylesheet" />
<script src="{% static 'js/jquery.lightbox_me.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#calendar').fullCalendar({
		    header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month, customWeek, basicWeek'
			    },
		    defaultDate: '{% now "Y-m-d" %}',
		    selectable: true,
		    selectHelper: true,
		    select: function(start, end) {
		      var start0 = $.fullCalendar.moment(start).format("YYYY-MM-DD HH:mm");
		      var end0 = $.fullCalendar.moment(end).format("YYYY-MM-DD HH:mm");
		      var now = $.fullCalendar.moment();
		      var week = $.fullCalendar.moment().week();
		      var startWeek = $.fullCalendar.moment(start).week();
		      if ( startWeek - week > 1 )
			return;
		      if ( $.fullCalendar.moment(start).isBefore(now))
			return;

		      $('#create_exp').lightbox_me({
			centered: true,
			preventScroll:true,
			//overlayCSS: {background: '#ff0', opacity: .6},
			onLoad: function() {
			  $('.create_exp').find('input:first').focus()
			  },
			});

	

			$('#id_start_time').val( start0 );
			$('#id_stop_time').val( end0 );
				    },
		    eventLimit: true, // allow "more" link when too many events
		    events: { url: "{% url 'schedule:getEvent' instrument %}", },
		    selectOverlap: false,
		    timeFormat: 'H:mm',
		    displayEventEnd: true,
		    views: {
			  customWeek: { 
			  type: 'agenda',
			  buttonText: 'WEEK',
			  duration: { week:  1, },
			  slotDuration: '00:15:00',
			  }
		    },
		});
	{% if form.errors %}
	  $('#create_exp').lightbox_me();
	{% endif %}
        $('#id_start_time').appendDtpicker({"minuteInterval":15,});
	$('#id_stop_time').appendDtpicker({"minuteInterval":15,});
	$('#id_instrument').val('{{ instrument }}');
	$('#id_start_time').attr( "readonly", true);
	$('#id_instrument').hide();
	$("label[for='id_instrument']").hide();
	$('#id_stop_time').attr( "readonly", true);
	});
</script>
<style>
	body {
		padding: 0;
	}

	#calendar {
		max-width: 80%;
		margin: 0 auto;
		font-size: 14px;
	}
   #calendar .fc-content {
     font-size: 12px;
   }
   #create_exp {
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 280px;
        position: relative;
        display: none;
    }
    #create_exp #create_exp_form {
        margin-top: 13px;
    }
    #create_exp label {
        display: block;
        margin-bottom: 5px; 
        color: #536376;
        font-size: .9em;
    }
  
    #create_exp label input {
        display: block;
        width: 393px;
        height: 31px;
        background-position: -201px 0;
        padding: 2px 8px;
        font-size: 1.2em;
        line-height: 31px;
    }
     #create_exp textarea{
        display: block;
        width: 193px;
        height: 100px;
        background-position: -201px 0;
        padding: 2px 8px;
        font-size: 1.2em;
        line-height: 31px;
    }
    #create_exp_form {
        position: relative;
        background: url(divider.png) repeat-x bottom left;
        padding-bottom: 54px;
        margin-bottom: 12px;
    }
    #actions {
        float: left;
        position: absolute;
        right: 0;
        height: 31px;
        bottom: 20px;
    }
</style>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  <p> Welcome, {{ user.surname }}. 
    <a href="{% url 'accounts:logout' %}">Logout</a>
    <a href="{% url 'accounts:password_change' %}"> [Change Password]</a>
    There is <em>{{instrument}}</em> appointment pages!
    {% for inst in grouplist %}
      <a href="{% url 'schedule:setAppointment' inst %}">[{{inst}}]</a>
    {% endfor %}
{% endif %}


<div id='calendar'></div>

{% if user.is_authenticated %}
<div id="create_exp" class="sprited">

<h3>Create An Experment</h3>

<div id="ui error form segment create_exp_form">
  <form action="{% url 'schedule:create_experiment' %}" method="post">
  {% csrf_token %}

  {% if form.errors %}
    <div class="ui error message">
      {{ form.errors }}
    </div>
  {% endif %}

  {% for field in form %}
    <div class="field">
      {{ field.label_tag }} {{ field }}
    </div>
  {% endfor %}
  <hr />
      <div id="action">
	<input class="ui blue submit button" type="submit" value="Created">
	<input type="hidden" name="next" value="{% url 'schedule:setAppointment' instrument %}"/>
      </div>
  </form>
</div> <!-- ui error -->
</div> <!-- create_exp -->
{% endif %}
{% endblock %}
