{% extends "base.html" %}
{% block title %}送样申请{% endblock %}
{% load staticfiles %}
{% block css %}
<link href="https://mugifly.github.io/jquery-simple-datetimepicker/jquery.simple-dtpicker.css" rel="stylesheet" />
<script src="https://mugifly.github.io/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>
<style>
  .container-fuild {
    margin-left: 50px;
    margin-right: 50px;
  }
  .comment li {
    font-size: 16px;
    padding-bottom: 5px;
  }

</style>
{% endblock %}
{% block content %}
<div class="container-fuild">
<div class="row text-center text-success" style="border: 1px solid #000;">
** 推荐使用Chrome，Firefox，Chromium等浏览器，如果您使用360浏览器，请切换到极速模式（默认为兼容模式）。如果你安装了360浏览器，IE也会有问题。
</div>

<form method="post" action="{% url 'schedule:sample' %}">
{% csrf_token %}
<div class="row">
	<div class="col-sm-3">
    <h3 style="border-bottom:1px solid #eee;">送样申请说明</h3>
    <ol>
      <li>送样测试是用户送样，由管理员进行的测试, 所以放假期间不接收送样测试，请合适安排您的送样时间；</li>
      <li>请尽量详细填写右边的表格, <strong>选择仪器</strong>, <strong>起始时间</strong>和<strong>实验用时</strong>为必填项目，其他项目为选择填写；</li>
      <li class="text-danger">用户首先根据目前仪器的<a href="{% url 'homepages:appoint' %}">预约情况</a>填写<strong>起始时间</strong>,最终的安排以管理员确定邮件或者信息为准！</li>
      <li>实验用时请参考<a href="">这篇博文</a>计算自己的实验用时！</li>
      <li>根据您的实验具体填写<strong>实验类型</strong>！</li>
      <li>对于样品信息，请尽量详细提供，让管理员可以更好的安排您的实验时间！</li>
      <li class="text-success"><strong>所有的实验安排，以最终管理员确认为准！</strong></li>
    </ol>
  </div><!--col-sm-4-->

	<div class="col-sm-4">
    <h3>申请信息</h3>
		<div class="row">
            <div class="col-sm-4">
                <label class="input-lg text-danger">选择仪器：</label>
            </div>
            <div class="col-sm-8">
                {% for instr in instruments %}
                    <div><input type="radio" name="instrument" id="id_instrument" value="{{ instr.id }}">{{instr.name}}</input></div>
                {% endfor %}
            </div>

		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-sm-4">
					<label class="input-lg text-danger">起始时间：</label>
				</div>
				<div class="col-sm-8">
                    <input class="form-control input-lg" id="id_start_time" name="start_time" type="text" required />
                    <script type="text/javascript">
                        $('*[name=start_time]').appendDtpicker({"futureOnly":true, });
                    </script>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
					<div class="col-sm-6">
					<label class="input-lg text-danger">实验用时/小时：</label>
					</div>
					<div class="col-sm-6">
                    <input class="form-control input-lg" id="id_times" name="times" type="number" min="0" required />
                    {% if times.errors %}
                      <span class="text-danger">{{ times.errors }}</span>
                    {% endif %}
                    <script type="text/javascript">
                        $('#id_times').attr('placeholder', "Times");
                    </script>
                    </div>
			</div>
		</div>
		<div class="row">
  		<div class="col-sm-12 form-group">
  			<label class="input-lg">实验说明(Spectrum Measure Info.)</label><br>
            <span>实验测量类型，C13，H1， HSQC，HMBC等, 以及谱宽等实验参数特殊说明。默认sw（1H）=20ppm，o1p（1H）=6.2ppm，sw（13C）=240ppm，o1p（13C）=100ppm。</span>
            <textarea class="form-control input-lg" rows="5" cols="40" id="id_measure_type"></textarea>
  		</div><!--form-group-->
		</div>

		<h3>样品信息（Sample characteristic）</h3>
		<div class="row">
            <div class="col-sm-4">
            <label class="input-lg">名称：</label>
            </div>
            <div class="col-sm-8">
                <input class="form-control input-lg" maxlength="100" name="name" id="id_name" type="text" />
            </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
      <label class="input-lg">氘代溶剂：</label>
      </div>
      <div class="col-sm-8">
           <input class="form-control input-lg" maxlength="30" name="solvent" id="id_solvent" type="text" />
      </div>
		</div>

		<div class="row form-group">
      <div class="col-sm-4">
        <label class="input-lg">浓度/mM：</label>
      </div>
      <div class="col-sm-8">
           <input class="form-control input-lg" min="0" name="concentration" id="id_concentration" type="number" />
      </div>
    </div>
		<div class="row form-group">
      <div class="col-sm-4">
        <label class="input-lg">分子量：</label>
      </div>
	    <div class="col-sm-8">
           <input class="form-control input-lg" min="0" name="molecular_weight" id="id_molecular_weight" step="1" type="number" />
		</div>
	</div>
  <script type="text/javascript">
      $('#id_name').attr('placeholder', '样品名称');
      $('#id_solvent').attr('placeholder', '氘代试剂');
      $('#id_concentration').attr('placeholder', '样品量/mM');
      $('#id_molecular_weight').attr('placeholder', '分子量');
 </script>
  </div> <!--col-sm-5-->

	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-12">
			<label class="control-label input-lg">分子结构式</label>
			{% include "homepages/marvinjs.html" %}
            <input id="id_structure" maxlength="1000" name="structure" type="text" hidden />
			</div>
		</div>

		<h4>其他说明</h4>
		<div class="row form-group">
            <textarea class="form-control inputl-lg" cols="40" id="id_others" name="others" rows="5" placeholder="化学结构，样品纯度，样品毒性，是否需要协助培养等等"></textarea>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<label class="input-lg" for"attachmentName">上传文件</label>
			</div>
			<div class="col-sm-8" style="padding:-10px;">
				<input type="file" class="filestyle" id="_attachmentName" disabled>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
			  <button onclick="this.disabled=true;submitSmiles();this.form.submit()" class="btn btn-info btn-lg btn-block">====提交(Submit)====</button>
			</div>
              <div class="text-center col-sm-12">提醒：任务提交成功会生成等待审核项目，请注意查看管理员回复!</div>
		</div>
	</div>
</div><!--row-->
</form><!--form-->
</div><!--container-->
{% endblock %}

{% block js%}
<script src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"></script>
<script>
  $("input#id_start_time").attr('readonly', 'readonly');
  function submitSmiles(){
    var smiles = document.JME.smiles();
    $("input#id_structure").val( smiles );
  }
</script>
{% endblock %}
