html, body {
    margin: auto;
    background: #FFFFFF repeat;
}
* {
  font-family: "Georgia", "times", "AR PL UMing CN", "STSong", "SimSun", serif;
}

h1,h2,h3 {
  font-family: "AR PL UKai CN", "KaiTi", "STKaiti", monospace !important; 
  font-weight: bold !important;
}

.header-item {
  background-color: #1861ad;
  border-bottom: 1px solid #333;
}
.nav-item{
	background-color: #7d0552;
}
.bxslider h2 a {
  color: #000;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar {
	font-size: 18px;
}
.navbar .navbar-inner {
	background-color: #7d0552;
}
.navbar-nav > li > a {
  color: #fff;
  font-family: "AR PL UKai CN", "KaiTi", "STKaiti", monospace;
  font-weight: bold;
  font-size: 22px;
}
.navbar-nav > li > a:hover {
	background-color: #b93b8f!important;
	border-radius: 2px;
}
.content-item {
  padding-bottom: 10px;
}
.user_header {
  font-size: 14px;
  font-family: "AR PL UKai CN", "KaiTi", "STKaiti", monospace;
  color: #fff;
}
.user_header a {
  font-family: "AR PL UKai CN", "KaiTi", "STKaiti", monospace;
  color: #fff;
  font-size: 14px;
}
.footer-item {
  border-top: 1px solid #aaaaaa;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: cursive;
  font-size: 12px;
}
.lab-new li{
  padding-top: 2px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
}
.new li:last-child {
    border-bottom: none;
}
.post li:last-child {
    border-bottom: none;
}
.project .item {
  display: block;
}
.project {
  border-top: 1px solid #e5e5e5;
}

.card {
  border: 1px solid;
  border-radius: 5px;
  min-height: 25%;
  margin: 10px 5px 10px 5px;
}
.card .card-title {
  min-height: 10%;
  font-weight: lighter;
  font-family: "times", "AR PL UKai CN", "KaiTi", "STKaiti", monospace;
  font-size: 160%;
}
.card .card-img {
  margin-left: auto;
  margin-right: auto;
}

.content-box {
  display: block;
  overflow: hidden;
  border-bottom: solid 1px #eee;
}

.inst{
  padding: 1% 0 2%;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #e5e5e5;
}
.inst .img-responsive {
  max-width: 80%;
}

.staff {
  padding: 1% 5% 2% 5%;
  background: url(/static/images/staff_pattern.png);
  margin-bottom: -10px;
}
.staff .item{
    margin: 5px;
    padding: 20px 0 40px 0;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: 2px solid #fff;
    border-radius: 10px;
    background: #fefefe;
}
.staff .item .media-heading{
    padding: 10px 0 10px 0;
}
.blogs {
  background: #F8F7EE url(/static/images/pattern.png);
  margin-top: -20px;
  margin-bottom: -10px;
}
.blogs p {
  font: normal .80em ;
  font-family: "Georgia", "times", "AR PL UMing CN", "STSong", "SimSun", serif;
  color: #7A7A68;
  line-height: 1.7em;
  text-indent: 2em;
  font-size: 120%;
}
.blogs img {
    max-width: 60% !important;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
