{% extends 'base.html' %}
{% block title %}Blogs's Archive{% endblock %}
{% load staticfiles %}
{% block css %}

{% endblock %}

{% block content %}
<div class="blogs">
<div class="container">
<div class="col-xs-offset-2 col-xs-8">
  {% for category, posts_by_year in data %}
    <article role="article">
        <h1 class="entry-title">
          {{ category }}
        </h1>
      <div id="blog-archives">
        {% for year, blogposts in posts_by_year %}
          <h2>{{year}}</h2>
          {% for blogpost in blogposts %}
            <article>
              <h3>
                <a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title }}</a>
              </h3>
              <time datetime="{{ blogpost.pub_date }}">
                <span class="month">{{ blogpost.pub_date|date:"M" }}</span>
                <span class="day">{{ blogpost.pub_date.day }}</span>
              </time>
                | <span>
                  posted in
                  {% for tag in blogpost.tags.all %}
                    {{ tag.name }} {% if forloop.last %}{% else %},{% endif %}
                  {% endfor %}
                </span>
            </article>
          {% endfor %}
        {% endfor %}
      </div>
    </article>
  {% endfor %}
</div>
</div>
</div>
{% endblock content %}
