{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ blogpost.title }}{% endblock %}

{% block css %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [["$","$"], ["\\(", "\\)"]]}
    });
  </script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
{% endblock %}

{% block content %}
<div class="blogs">
<div class="container">
<div class="col-md-offset-2 col-md-8 col-xs-12">
{% autoescape off %}
  <article>
      <div class="head text-center">
        <h2 class="title"><b>{{ blogpost.title }}</b></h2>
          <div style="font-size: 14px;padding-left: 40px;"> post in <span class="label label-primary">{{ blogpost.pub_date|date:"jS F Y l" }}</span> by {% for author in blogpost.author.all %}{{author.surname}}{% if forloop.last %}{%else%},{%endif%} {% endfor %}</div>
      </div>
      <div class="body" style="padding-top: 20px;">
        {{ blogpost.display_html }}
      </div>
  </article>
{% endautoescape %}
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2116337"></script>
<!-- UY END -->
</div>
</div>
</div>
{% endblock content %}
