{% extends 'blogs/blog_base.html' %}
{% load static %}

{% block pagecss %}
{% endblock pagecss %}

{% block content %}
<div class="blog-index">
{% for blogpost in blogposts|slice:sl %}
    {% autoescape off %}
      <article>
        <h1 style="margin: 15px 0 0 0;">
          <a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title }}</a>
        </h1>
        <div class="label">{{ blogpost.pub_date|date:"jS F Y" }} by {% for author in blogpost.author.all %}{{author.surname}}{% if forloop.last %}{%else%},{%endif%} {% endfor %}</div>
        <span>{{ blogpost.description }}</span>
      </article>
    {% endautoescape %}
    <div style="border-bottom: 1px solid #e5e5e5;padding-top:10px;"></div>
{% endfor %}
  <div class="pagination" style="margin-top: 20px;">
    {% if newer_page %}
      <a class="next" href="/blogs/{{ newer_page }}/">← Newer</a>
    {% endif %}
    {% if prev_page %}
      <a class="prev" href="/blogs/{{ prev_page }}/">Older →</a>
    {% endif %}
  </div>
</div>
{% endblock content %}
