{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}博客{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
<div class="blogs">
<div class="container">
<div class="col-md-offset-2 col-md-8 col-xs-12">
{% for blogpost in blogposts|slice:sl %}
    {% autoescape off %}
      <article>
        <h3 style="margin: 15px 0 0 0;">
          <a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title }}</a>
          <small>{{ blogpost.pub_date|date:"jS F Y" }} by {% for author in blogpost.author.all %}{{author.surname}}{% if forloop.last %}{%else%},{%endif%} {% endfor %}</small>
        </h3>
        <div>{{ blogpost.description }}</div>
      </article>
    {% endautoescape %}
    <div style="border-bottom: 1px solid #e5e5e5;padding-top:10px;"></div>
{% endfor %}
  <div class="pagination" style="margin-top: 20px;">
    <nav>
    <ul class="pager">
    {% if prev_page %}
      <li class="previous"><a href="/blogs/{{ prev_page }}/"><span aria-hidden="true">&larr;</span> Older</a></li>
    {% endif %}
    {% if newer_page %}
      <li class="next"><a href="/blogs/{{ newer_page }}/">Newer <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    </ul>
    </nav>
  </div>
</div>
</div>
</div>
{% endblock content %}
