{% load staticfiles %}
<div class="six wide column">
	<div class="rounded ui  center aligned image basic segment">
		<a name="#ac500"><img src="{% static 'photos/ac500.jpg' %}"></a>
		<div class="ui teal inverted top pointing label">AVANCE III<sup>TM</sup> 500 MHz</div>
	</div>
	</div>
	<div class="ten wide column">
	<div class="content">
		<div class="ui list">
			<div class="item">
				<i class="red magnet icon"></i>
				<div class="content">
					<div class="header">谱仪</div>
				</div>
				<div class="list">
					<div class="item">
						<i class="green leaf icon"></i>
						<div class="content">
							Ascend<sup>TM</sup>超导磁体系统，54mm腔，11.746 Tesla。
						</div>
					</div>
					<div class="item">
						<i class="green leaf icon"></i>
						<div class="content">
							BLAXH300/100功放系统。<hr>
							1套线性宽带功放（频率范围6-365MHz）用于X核脉冲和去耦，300W的脉冲功率，平均功率为30W；<hr>
							1套线性1H/19F功放用于脉冲和同核-异核去耦，100W线性脉冲功率，平均功率35W；<hr>
							1套线性2H功放用于2H梯度匀场。
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<i class="headphones icon"></i>
				<div class="content">
					<div class="header">液体探头</div>
				</div>
				<div class="list">
					<div class="item">
						<i class="green leaf icon"></i>
						<div class="content">
							QXI 1H/31P/13C/15N 5mm四共振反向检测探头（Z-gradient，ATM Acc）；
              <p><strong>技术参数： S/N(1H)： 888; Reoslutioin(Hz)：0.32 (rotating)</strong></p>
						</div>
					</div>
					<div class="item">
						<i class="green leaf icon"></i>
						<div class="content">
							BBFO 1H-19F，31P-15N，1H decoupling/observe多核正向检测探头（Z-gradient，ATM）
              <strong><p>技术参数： S/N(1H)： 798; Reoslutioin(Hz)：0.26 (rotating)
              <br>
              S/N(13C): 328; Reoslution(Hz): 0.1</p></strong>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<i class="headphones icon"></i>
				<div class="content">
					<div class="header">HRMAS探头</div>
				</div>
					<div class="list">
					<div class="item">
						<i class="green leaf icon"></i>
						<div class="content">
							HR MAS 高分辨魔角旋转1H/13C微量双共振正向检测探头（4mm，<strong>13C</strong>优化，2H-锁，魔角旋转梯度，GRASP II）；
						</div>
					</div>
					<div class="item">
						<i class="green leaf icon"></i>
						<div class="content">
							HR MAS 高分辨魔角旋转1H/13C微量双共振正向检测探头（4mm，<strong>1H</strong>优化，2H-锁，魔角旋转梯度，GRASP II）；
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<i class="headphones icon"></i>
				<div class="content">
					<div class="header">变温系统</div>
				</div>
					<div class="list">
					<div class="item">
						<i class="green leaf icon"></i>
						<div class="content">
							B-SVT Bruker智能多通道温控系统（温度设置精度+/-0.1<sup>0</sup>C，温度测量精度为+/-0.01<sup>0</sup>C，最高温度为200<sup>0</sup>C，最高温度为200.
						</div>
					</div>
					<div class="item">
						<i class="green leaf icon"></i>
						<div class="content">
							BCU I 非液氮制冷（制冷至0摄氏度）；
						</div>
					</div>
					<div class="item">
						<i class="green leaf icon"></i>
						<div class="content">
							低温实验部件（26L LN2杜瓦，PUR，低温下限-80摄氏度）；
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
