{% extends "base.html" %}
{% block title %} 联系我们 {% endblock %}
{% block contact %} active {% endblock %}
{% block content %} 
<div class="ui basic segment">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui segment">
                <div class="ui top attached purple label">相关链接</div>
                <div class="content">
                    <div class="ui divided list">
                        <a class="item" href="http://xmu.edu.cn">厦门大学首页</a>
                        <a class="item" href="http://chem.xmu.edu.cn">厦门大学化工学院</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui segment">
                <div class="ui top attached red label"></div>
                <div class="content">
                   <div class="ui header"> 联系方式 </div>
                   <div>地址：福建省厦门市思明区厦门大学化学化工学院高场核磁中心 高102室</div>
                   <div>电话：0592-2186874</div>
                   <div>邮箱：tonyfeng@xmu.edu.cn</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
