{% extends "bootstrap_base.html" %}
{% block title %} 厦门大学高场核磁中心 {% endblock %}
{% load staticfiles %}
{% block home %} active {% endblock %}
{% block css_js %}
{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/jquery.bxslider.min.css' %}">
{% endblock %}
{% block content %} 
    <!-- Half Page Image Background Carousel Header -->
  <div class="container">
    <ul class="bxslider">
      <li>
        <div class="row">
          <div class="col-sm-8">
            <img class="img-rounded" src="{% static 'images/image-slider-2.jpg' %}">
          </div>
          <div class="col-sm-4">
              Wollllll, ou.
          </div>
        </div>
        </li>
      <li><img class="img-rounded" src="{% static 'images/image-slider-3.jpg' %}"></li>
      <li><img class="img-rounded" src="{% static 'images/image-slider-4.jpg' %}"></li>
    </ul>
  </div>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.bxslider').bxSlider({
      auto: true,
      mode: 'fade' 
    });
    </script>
<!--New-->
<div class="lab-new">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="content-box">
        <h4>近期动态<small>[<a href="">更多...</a>]</small></h4>
        {% include "homepages/labnew.html" %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="content-box">
        <h4>博客更新<small>[<a href="">更多...</a>]</small></h4>
        {% include "homepages/postnew.html" %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="research">
        <div class="row">
          {% for item in "1234"|make_list %}
          <div class="col-sm-3 text-center">
          <div class="item">
            <img src="{% static 'images/struct.png' %}" class="img-circle" alt="" width="60px">
            <div class="content">
              <h4 class="title" style="font-weight: bold;">小分子结构解析</h4>
              <p>药物发现和天然产物研究中小分子结构解析;<br>
              药物和化学应用领域未知物质的结构分析;</p>
            </div>
          </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>
<!--instr-->
<a name="_insts"></a>
<div class="inst">
  <div class="container">
    {% include "homepages/instrument.html" %}
  </div>
</div>
<!--staff-->
<a name="_about"></a>
<div class="staff">
  <div class="container">
    {% include "homepages/staff.html" %}
  </div>
</div>
{% endblock %}
