{% extends "bootstrap_base.html" %}
{% block title %} 厦门大学高场核磁中心 {% endblock %}
{% block home %} active {% endblock %}
{% block css_js %}
{% load staticfiles %}
{% endblock %}
{% block content %} 
    <!-- Half Page Image Background Carousel Header -->
  <div class="container-fuild">
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
  </div>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
<!--New-->
<div class="lab-new">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="content-box">
        <h4>近期动态<small>[<a href="">更多...</a>]</small></h4>
        {% include "homepages/labnew.html" %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="content-box">
        <h4>博客更新<small>[<a href="">更多...</a>]</small></h4>
        {% include "homepages/postnew.html" %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="research">
        <div class="row">
          {% for item in "1234"|make_list %}
          <div class="col-sm-3 text-center">
          <div class="item">
            <img src="{% static 'images/struct.png' %}" class="img-circle" alt="" width="60px">
            <div class="content">
              <h4 class="title" style="font-weight: bold;">小分子结构解析</h4>
              <p>药物发现和天然产物研究中小分子结构解析;<br>
              药物和化学应用领域未知物质的结构分析;</p>
            </div>
          </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>
<!--instr-->
<a name="_insts"></a>
<div class="inst">
  <div class="container">
    {% include "homepages/instrument.html" %}
  </div>
</div>
<!--staff-->
<a name="_about"></a>
<div class="staff">
  <div class="container">
    {% include "homepages/staff.html" %}
  </div>
</div>
{% endblock %}
