{% extends "base.html" %}
{% block title %} 厦门大学高场核磁中心 {% endblock %}
{% load staticfiles %}
{% block css %}
	<script type="text/javascript" src="//cdn.bootcss.com/bxslider/4.2.5/jquery.bxslider.min.js"></script>
	<link rel="stylesheet" type="text/css" media="all" href="//cdn.bootcss.com/bxslider/4.2.5/jquery.bxslider.min.css">
{% endblock %}
{% block content %} 
    <!-- Half Page Image Background Carousel Header -->
<div class="container">
    <ul class="bxslider">
      {% for item in hot_spots %}
      <li>
        <div class="row">
            <img class="img-rounded img-responsive" src="{{ item.thumbnail.url }}">
        </div>
        </li>
      {% endfor %}
    </ul>
</div>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.bxslider').bxSlider({
      auto: true,
      mode: 'fade' 
    });
    </script>
<!--New-->
<div class="lab-new" style="margin-top:-30px">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
         {% include "homepages/labnew.html" %}
      </div>
      <div class="col-sm-6 col-xs-12">
         {% include "homepages/postnew.html" %}
      </div>
    </div>
  </div>
</div>

<div class="project">
  <div class="container">
    <div class="row">
      <h2 class="text-center">主要研究项目</h2>
      <div class="row">
        <div class="card-wrapper">
        {% for item in projects %}
        <div class="col-xs-6 col-sm-3">
          <div class="card text-center" style="border-color:{% cycle '#86e8fa' '#cdf4d7' '#edacb5' '#febfba' %}">
            <img src="{{ item.thumbnail.url }}" class="img img-rounded card-img img-responsive" max-width="200px" />
            <div class="card-body" style="background-color:{% cycle '#86e8fa' '#cdf4d7' '#edacb5' '#febfba' %}">
              <div class="card-title">{{ item.title }}</div>
            </div><!--card-body-->
          </div><!--card-->
        </div><!--col-xs-->
        {% endfor %}
        </div><!--card wrapper-->
      </div>
    </div>

  </div>
</div>
<!--instr-->
<div class="inst">
    <h2 class="text-center">仪器设备</h2>
  <div class="container">
    {% include "homepages/instrument.html" %}
  </div>
</div>
<!--staff-->
<div class="staff">
    <h2 class="text-center">关于我们</h2>
  <div class="container-fuild">
    {% include "homepages/staff.html" %}
  </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
