<div class="new">
  <div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="glyphicon glyphicon-th-list"></i>
                新闻
            </div>
            <div class="col-xs-9 text-right">
                <a href="#" style="color:#000">更多...</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
    {% for post in lastest_news %}
        <li>
      <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
      <small style="margin-right: 3px;">{{ post.pub_date|date:"Y-m-d" }} by {% for author in post.author.all %}{{ author.username }}{% if forloop.last %}{%else%},{%endif%}{%endfor%}</small>
        </li>
    {% endfor %}
    </div>
    </div>
</div>
