{% extends "base.html" %}
{% block title %} 实验室 {% endblock %}
{% block content %} 
<div class="container">
    <h3>2013-2014实验室安装记事</h3>
    <ul>
    <li>2013年7月20日，西马仑台风，实验室被水湮没；</li>
    <li>2013年12月上旬，实验室垫高50公分；</li>
    <img width="30%" src="/media/images/201312-1.jpeg" />
    <li>2013年12月19日，600MHz，500MHz运送到实验室；</li>
    <li>2014年1月13日，台湾工程师Leo安装600MHz；</li>
    <li>2014年1月24日，600MHz安装完成，调整完BBFO和TXI探头；</li>
    <li>2014年2月17日，台湾工程师Mark来安装500MHz；</li>
    <li>2014年2月20日，500MHz失超一次；</li>
    <li>2014年2月21日，500MHz再次失超，重新回温（腔体内回到常温）等待下次再来安装；</li>
    <li>2014年3月1日，850MHz送到实验室，来了两位德国安装工程师 Jan and Sergej﻿，架起磁体；</li>
    <li>2014年3月6日，台湾工程师Mark再次来安装500MHz;</li>
    <li>2014年3月11日，500MHz又失超一次；</li>
    <li>2014年3月13日，500MHz分两天升场，成功；接下来调整完成BBFO和QXI探头；</li>
    <li>2014年3月21日，台湾工程师Mark完成500MHz安装。开始调试600MHz低温探头，后600MHz低温探头有问题返厂维修；</li>
    <li>2014年3月26日，Mark离开厦门；</li>
    <li>2014年3月11日，850MHz完成初预冷，升场工程师Klaus到；</li>
    <img width="40%" src="/media/images/850MHz_install.png" />
    <li>2014年3月18日，850MHz升场过程失超一次，过一周重新升场成功。</li>
    <li>2014年4月12日，Klaus完成850MHz安装，调试完成常规探头TXI，并且安装完成低温探头TCI。BSNL还没有安装。</li>
    <li>2014年4月14日，质谱安装工程师尹工来安装质谱，质谱有问题，没有完成安装完成；</li>
    <li>2014年7月16日，600MHz的低温匀场Q；</li>
    <li>2014年7月19日，再次安装质谱，测试指标通过；</li>
    <li>2014年7月21日，Frank来安装LC-NMR；并且和Klaus对600MHz的低温匀场重新冲磁；</li>
    <li>2014年9月15日，500MHz的ATM出现问题，更换REF/3板；</li>
    <li>2014年8月28日-9月2日，Kluas再次来安装850MHz的BSNL, cryoprobe lift。</li>
    </ul>
</div>
{% endblock %}
