<div class="post">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="glyphicon glyphicon-tags"></i>
            </div>
            <div class="col-xs-9 text-right">
                <a href="/blogs/" class="glyphicon glyphicon-circle-arrow-right" style="color:#fff"></a>
            </div>
        </div>
    </div>
    <div class="panel-footer">
    {% for post in lastest_blogs %}
        <li>
        <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
      <small style="margin-right: 3px;">{{ post.pub_date|date:"Y-m-d" }} by {% for author in post.author.all %}{{ author.username }}{% if forloop.last %}{%else%},{%endif%}{%endfor%}</small>
      </li>
    {% endfor %}
  </div>
  </div>
</div>
