{% load staticfiles %}
<div id="staff">
<ul class="staff_bxslider">
    {% for staff in staffs %}
        <li>
          <div class="item" style="background-color:{% cycle '#86e8fa' '#cdf4d7' '#edacb5' '#febfba' '#33ffbd' %};">
          <center>
            {% if staff.website %}
              <a href="{{staff.website|default_if_none:''}}" target="_blank"><img class="img-circle img-responsive" src="{{ staff.profile_image.url }}"></a>
            {% else %}
              <img class="img-circle img-responsive" src="{{ staff.profile_image.url }}">
            {% endif %}
                <h3 class="media-heading">{{ staff.surname }} <small>{{staff.title}}</small></h3>
                <p>{{ staff.user_bio }}</p>
          </center>
          </div>
        </li>
    {% endfor %}
</ul>
</div>
<script>
    $('.staff_bxslider').bxSlider({
        auto: true,
        autoHover: true,
        minSlides: 1,
        maxSlides: 4,
        slideWidth: 300,
        slideMargin: 5,
        startSlide: 1,
        moveSlides: 1
    });
    $('div#staff .bx-wrapper').css('background', 'none');
    $('div#staff .bx-wrapper').css('border', 'none');
    $('div#staff .bx-wrapper').css('box-shadow', 'none');
</script>
